<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Welcome to IIT Indore</h1>
    <a href="/adddepartment">
        <button class="btn41-43 btn-41">Add Department</button>
    </a>
    <a href="/addprofessor">
        <button class="btn41-43 btn-41">Add Professor</button>
    </a>
    <a href="/addcourse">
        <button class="btn41-43 btn-41">Add Course</button>
    </a>
</body>

</html>